<div id="nav-bar-overlay">
</div>

<div id="filters-menu">
  <%= form_for :filter_search, url: filter_search_path, html: {id: "filter-search-form"}, method: :get  do |form| %>

		<%= form.collection_check_boxes :tags, Tag.all , :id, :tag %>

		<%= form.hidden_field :location, :value => @query %>

		<%= form.submit 'Submit',id: "apply-filters-button", value: "Apply Filters" , class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
	<% end %>
</div>

<div id="filters-div">
	<button id="filters-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
	  Filters
	</button>
</div>

<div id="new-container">
	<%= render @listings %>
</div>



	<div id="infinite-scrolling">
		<%= paginate @listings, :params => {:query => @query} %>
	</div>


