<div class="full-listing-card">


	<%= render partial: 'full', locals: {listing: @listing} %>


<!--==================== Book / Edit ====================-->

	<% if current_user.id == @listing.user.id %>
		<%= button_to "Edit", edit_listing_path(@listing.id), method: :get, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent " %>
	<% elsif (@listing.reservations.where(user_id: current_user.id).empty? != true) %>
  	<%= form_for [@listing, @reservation], :html => {:id => "reservation-submit-form"} do |form| %>
			<input type="text" name="daterange" value="01/01/2016 - 01/31/2016" />
			<%= form.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent", value: "Edit Booking" %>
		<% end %>
		<% if @listing.reservations.find_by(user_id: current_user.id).purchase == nil %>
			<%= button_to 'Pay Now', new_purchase_path, params: {listing_id: @listing.reservations.find_by(user_id: current_user.id).id.to_s}, method: :get %>
		<% else %>
			<%= button_to 'Payment Made', user_reservation_index_path(current_user.id), method: :get %>
		<% end %>
	<% else %>
	  <%= form_for [@listing, @reservation], url: listing_reservation_create_path(@listing.id) do |form| %>
			<input type="text" name="daterange" value="01/01/2016 - 01/31/2016" />
			<%= form.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent", value: "Book Now" %>
		<% end %>
	<% end %>


<!--==================== Host Listing Manager ====================-->

	<% if current_user.id == @listing.user.id %>
		<div id="bookings">
		<% unless @listing.reservations.empty? %>
			<% @listing.reservations.each do |reservation| %>
				<p> Guest: <%= reservation.user.name %> </p>
				<p> Start: <%= reservation.start_date %> </p>
				<p> End: <%= reservation.end_date %> </p>
				<% if (reservation.start_date == reservation.end_date) %>
				<p> Stay: One night </p>
				<% else %>
					<p> Stay: <%= (reservation.start_date..reservation.end_date).to_a.size %> nights </p>
				<% end %>
			<% end %>
		<% end %>
		</div>
	<% end %>
	</div>

	<!-- Closing div for full-listing-card (largest container) -->
</div>



<!--==================== Booking Confirmation Snackbar ====================-->

<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
