
<div class="text-field">
  <%= form.label :Name %>
  <%= form.text_field :name, type: 'string', required: true %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', required: true %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, required: true %>
</div>