<!DOCTYPE html>
	<html>
		<head>

			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application' %>
		  <%= csrf_meta_tag %>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">


			<!--============================== Materialize ==============================-->
		  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> -->
          

		  <!--============================== Google MDL ==============================-->
		  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.pink-red.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

		  <!-- Include Date Range Picker Prerequisites -->
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
			<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
			<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
			 
			<!-- Include Date Range Picker -->
			<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
			<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


			<!--============================== Braintree ==============================-->
			<script src="https://js.braintreegateway.com/v2/braintree.js"></script>


			<!--============================== Typeahead ==============================-->
			<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js"></script>


		  <title>Airbnb</title>

	  </head>

		<body>

			<div id="nav-bar">
				<div id="logo">
					<%= link_to 'airbnb', root_path, data: { turbolinks: false } %>
				</div>


				<% if signed_in? %>
					<div id="user-profile-button">
						<%= current_user.name.split(" ").first %>
						<%= image_tag current_user.avatar.thumb.url.to_s, id: "profile-photo" %>
					</div>
					<div id="user-profile-menu">
					<div class="user-profile-action-div"><%= link_to 'Edit Profile', edit_user_path(current_user), class: "black-link user-profile-action-link" %></div>
					<div class="user-profile-action-div"><%= link_to 'Log Out', sign_out_path, method: :delete, class: "black-link user-profile-action-link" %></div>
					</div>

					<div id="user-trips-button">
						<%= link_to 'Trips', user_reservation_index_path(current_user), class: "navbar-link" %>
						<i class="material-icons">flight_takeoff</i>
					</div>

					<% if current_user.listings.any? %>
						<div id="user-host-button">
							<%= link_to 'Host', '/become_a_host', data: {turbolinks: false}, class: "navbar-link" %>
							<i class="material-icons">home</i>
						</div>
						<div id="user-host-menu">
							<div class="user-profile-action-div"><%= link_to 'Add Listing', '/become_a_host', data: { turbolinks: false }, class: "black-link user-profile-action-link" %></div>
							<div class="user-profile-action-div"><%= link_to 'My Listings', user_listings_path(current_user), class: "black-link user-profile-action-link" %></div>
						</div>

					<% else %>
						<div id="become-a-host">
							<a href="http://localhost:3000/become_a_host">Become a Host</a>
						</div>
					<% end %>




				<% else %>
					<div id="signup-button">
						Sign Up
					</div>

					<div id="login-button">
						Log In
					</div>

				<% end %>
			</div>

			<div id="signup-form">
			  <%= form_for User.new do |form| %>
			  	<a id="facebook-signup-button" href="http://localhost:3000/auth/facebook">Sign up with Facebook</a>

					<%= form.submit id: "email-signup-div", value: "Sign up with email below" %>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					  <%= form.text_field :name, type: 'string', required: true, class: "mdl-textfield__input", id: "signup-name" %>
					  <%= form.label :Name, class: "mdl-textfield__label", for: "signup-name" %>
					</div>

					 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					  <%= form.text_field :email, type: 'email', required: true, class: "mdl-textfield__input", id: "signup-email" %>
					  <%= form.label :email, class: "mdl-textfield__label", for: "signup-email" %> 
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<%= form.password_field :password, type: 'password', required: true, class: "mdl-textfield__input", id: "signup-password" %>
					  <%= form.label :password, class: "mdl-textfield__label", for: "signup-password" %>
					</div>

				<% end %>
			</div>

			<div id="login-form">

			  <%= form_for :session, url: session_path do |form| %>
			  	<a id="facebook-signup-button" href="http://localhost:3000/auth/facebook">Log in with Facebook</a>

					<%= form.submit id: "email-signup-div", value: "Log in with email below" %>

					 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					  <%= form.text_field :email, type: 'email', required: true, class: "mdl-textfield__input", id: "signup-email" %>
					  <%= form.label :email, class: "mdl-textfield__label", for: "signup-email" %> 
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<%= form.password_field :password, type: 'password', required: true, class: "mdl-textfield__input", id: "signup-password" %>
					  <%= form.label :password, class: "mdl-textfield__label", for: "signup-password" %>
					</div>

				<% end %>

			</div>


			<div id="signup-form-overlay">
			</div>


			<%= yield %>

		</body>
</html>
